.home-container {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.links-container {
    display: flex;
    margin: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.links-container a {
    padding: 7px;
    margin: 7px;
    background-color: #c2185b;
    text-decoration: none;
    color: #f2f2f2;
}

.links-container a:hover {
    opacity: 0.89;
    color: #ffc0cb;
}

.random-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifs-title {
    *text-align: center;
    color: #181213;
    font-size: 28px;
    margin-left: 10px;
}

.trending-container {
    margin-top: 80px;
}

@media (max-width: 600px) {
    .links-container {
        width: auto;
        line-height: 30px;
        text-align: center;
    }
}
