/* .results-container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.results-spinner {
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.results-btn button {
    background: #181213;
    padding: 10px;
    border-radius: 7%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    color: #f2f2f2;
}

.results-btn button:hover {
    color: #ffc0cb;
    cursor: pointer;
}
