.details-gif {
	width: 100%;
	min-height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	*justify-content: center;
	margin-bottom: 8em;
}

.details-gif .gif-item {
	width: 98%;
	margin-top: 4em;
}

.details-data {
	*width: 100%;
	display: flex;
	flex-direction: column;
	*align-items: center;
	justify-content: center;
	font-size: 14px;
	margin-left: 10%;
}

.details-data p {
	text-align: left;
	color: #333;
}

.details-data p span {
	background-color: black;
	color: #f2f2f2;
}

@media (min-width: 800px) {
	.details-gif .gif-item {
		max-width: 640px;
	}

	.details-data {
		margin-left: 20%;
	}

	.details-gif {
		min-height: 70vh;
	}
}
