/*
azul: #4297A0
amarillo: #edc988
rosa oscuro: #d7385e
coral: #FF7077

*/

:root {
	--gif-1: #4984ab;
	--gif-2: #cdb700;
	--gif-3: #61216d;
	--gif-4: #d15687;
}

.gif-item:nth-child(4n + 1) {
	background-color: var(--gif-1);
}
.gif-item:nth-child(4n + 2) {
	background-color: var(--gif-2);
}
.gif-item:nth-child(4n + 3) {
	background-color: var(--gif-3);
}
.gif-item:nth-child(4n + 4) {
	background-color: var(--gif-4);
}

.gif-item:hover:nth-child(4n + 1) {
	box-shadow: 0 0 0 6px var(--gif-1);
}
.gif-item:hover:nth-child(4n + 2) {
	box-shadow: 0 0 0 6px var(--gif-2);
}
.gif-item:hover:nth-child(4n + 3) {
	box-shadow: 0 0 0 6px var(--gif-3);
}
.gif-item:hover:nth-child(4n + 4) {
	box-shadow: 0 0 0 6px var(--gif-4);
}

.gif-item {
	margin: 5px;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.gif-title {
	color: #333;
}
