/*
azul: #4297A0
amarillo: #edc988
rosa oscuro: #d7385e
coral: #FF7077

*/

:root {
	--gif-1: #9dc3f5;
	--gif-2: #f5ce84;
	--gif-3: #bf50de;
	--gif-4: #9bf590;
}

.gif-item:nth-child(4n + 1) {
	background-color: var(--gif-1);
}
.gif-item:nth-child(4n + 2) {
	background-color: var(--gif-2);
}
.gif-item:nth-child(4n + 3) {
	background-color: var(--gif-3);
}
.gif-item:nth-child(4n + 4) {
	background-color: var(--gif-4);
}

.gif-item:hover:nth-child(4n + 1) {
	box-shadow: 0 0 0 8px var(--gif-1);
}
.gif-item:hover:nth-child(4n + 2) {
	box-shadow: 0 0 0 8px var(--gif-2);
}
.gif-item:hover:nth-child(4n + 3) {
	box-shadow: 0 0 0 8px var(--gif-3);
}
.gif-item:hover:nth-child(4n + 4) {
	box-shadow: 0 0 0 8px var(--gif-4);
}

.gif-item {
	margin: 8px;
	display: inline-block;
	width: 100%;
	*height: 100%;
	cursor: pointer;
}

.gif-title {
	color: #333;
}
