.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    color: #333;
    *opacity: 0.8;
}

.logo {
    width: 50px;
    opacity: 0.9;
    cursor: pointer;
    margin: 10px 10px;
}

.header-title {
    font-family: "Amatic SC", cursive;
    font-size: 38px;
    font-weight: 700;
    margin: 10px 10px 10px 0;
}
