.flex {
	display: flex;
}

.header-container {
	align-items: center;
	margin: 1.5em;
}

.header-app {
	width: 100%;
	text-decoration: none;
	color: #f2f2f2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-logo {
	width: 50px;
	opacity: 0.9;
	cursor: pointer;
	margin: 10px 10px;
}

.header-title {
	font-family: "Amatic SC", cursive;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
}

.header-auth {
	width: 28%;
	justify-content: flex-end;
	margin-right: 20px;
}

.auth-link {
	text-decoration: none;
	color: white;
	background-color: blue;
}
