:root {
    --columns: 2;
}

.loading {
    width: 100%;
    padding: 50px;
    color: #333;
    text-align: center;
}

.gifs-container {
    column-count: var(--columns);
    column-gap: 10px;
    margin-top: 30px;
    line-height: 0;
    *display: grid;
    *grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    *grid-gap: 0 12px;
    *grid-template-rows: masonry;
}

.gifs-container .gif-item {
    width: 100%;
}

@media (min-width: 600px) {
    :root {
        --columns: 3;
    }
}

@media (min-width: 800px) {
    :root {
        --columns: 4;
    }
}
