:root {
	--columns: 2;
}

.loading {
	width: 100%;
	padding: 50px;
	color: #333;
	text-align: center;
}

.gifs-container {
	column-count: var(--columns);
	column-gap: 16px;
	margin-top: 30px;
	line-height: 0;
	*display: grid;
	*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	*grid-gap: 0 12px;
	*grid-template-rows: masonry;
}

.gifs-container .gif-item {
	width: 100%;
}

@media (min-width: 768px) {
	:root {
		--columns: 3;
	}
}

@media (min-width: 992px) {
	:root {
		--columns: 4;
	}
}

@media (min-width: 1200px) {
	:root {
		--columns: 5;
	}
}
