.search-bar {
	width: 100%;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}

.search {
	border-radius: 8px 0px 0px 8px;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	width: 70%;
	line-height: 3;
	padding-left: 8px;
}

.search:hover {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border-color: rgba(223, 225, 229, 0);
}

.search-btn {
	background: #f075c7;
	border: none;
	padding: 12px;
	border-radius: 0px 8px 8px 0px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	color: #f2f2f2;
	cursor: pointer;
	font-weight: bolder;
}

@media (min-width: 800px) {
	.search {
		max-width: 380px;
	}
}
