/*
fondo: #ffc0cb
primario oscuro: #C2185B

fondo posible: #6495ed
color de acento anterior: #009688
*/

body {
    margin: 0;
    *background-color: #282c34;
    background-color: #ffc0cb;
}

.App-container {
    max-width: 98vw;
    color: white;
    display: flex;
    *flex-direction: column;
    *align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
