/*
fondo: #ffc0cb
primario oscuro: #C2185B

fondo posible: #6495ed
color de acento anterior: #009688
*/

body {
	margin: 0;
	background-color: #cb8ca5;
}

.App {
	width: 100vw;
	min-height: 98vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App-container {
	width: 80%;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
